[Desktop Entry]
Type=Application
Name=PikaOS User Setup
Exec=pika-first-setup-user
Hidden=false
NoDisplay=false
Icon=pika-logo
X-GNOME-Autostart-enabled=true
X-KDE-AutostartScript=true
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK
